.container{
    background-color: rgb(80, 101, 101);
    height: 300px;
    width: 150px;
    padding: 50px;
    margin: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;

}
.fontName{
    font-size: 2rem;
}
.caracterImg{
    width: 90px;
}
.fontInfo{
    font-size: 1rem;
}
.linkBtn{
    background-color: rgb(21, 84, 84);
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    color: aliceblue;
}
